.chat-main
  .chat-main__main-header
    .chat-main__main-header__left-box
      %h2.chat-main__main-header__left-box__current-group
        = @group.name
      %ul.chat-main__main-header__left-box__member-list
        Member :
        %li.chat-main__main-header__left-box__memberlist__member
          - @group.users.each do |user|
            = user.name
    %a{ href: edit_group_path(@group)}
      .chat-main__main-header__edit-btn
        Edit
  .chat-main__messages
    = render @messages
  .chat-main__form
    = form_for [@group, @message], html: {class: 'chat-main__form__new-message'} do |f|
      .chat-main__form__new-message__input-box
        = f.text_field :content, class: 'chat-main__form__new-message__input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'file'
      = f.submit 'Send', class: 'submit-btn'